{{> ./main/header}}
<br>
<div class="ui segment">

    <div>
        <a class="ui secondary button" href="/orgas/new">
            Ajouter une organisation
        </a>
    </div>

    <div class="ui segment">
        <div class="ui grid">
            <div class="four wide column">
                <a class="ui grey button" href="/orgas">
                    Fermer
                </a>
            </div>
            <div class="four wide column">
                <a class="ui red button" href="/orgas/delete/{{id}}">
                    Supprimer {{orga.name}}
                </a>
            </div>
            <div class="four wide column">
                <a class="ui blue button" href="/orgas/edit/{{orga.id}}">
                    Modifier {{orga.name}}
                </a>
            </div>
        </div>
    </div>

    <table class="ui basic table">
        <thead>
        <tr>
            <th></th>
            <th>Infos</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Id</td>
            <td>{{orga.id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{orga.name}}</td>
        </tr>
        <tr>
            <td>Domain</td>
            <td>{{orga.domain}}</td>
        </tr>
        <tr>
            <td>Aliases</td>
            <td>{{orga.aliases}}</td>
        </tr>
        <tr>
            <td>Groupes</td>
            <td>
                {{#orga.groupes}}

                    {{name}}<br>

                {{/orga.groupes}}
                <button class="ui button yellow create_btn" type="button" id="ajoutGroupe">Ajouter</button>
            </td>
        </tr>
        <tr>
            <td>Users</td>
            <td>
                {{#orga.users}}

                    {{email}}<br>

                {{/orga.users}}
                <button class="ui button yellow create_btn" type="button" id="ajoutUsers">Ajouter</button>
            </td>
        </tr>
        </tbody>
    </table>



    <div class="ui modal ajoutGroupe">
    <i class="close icon"></i>
    <div class="header">
        Ajouter un groupe
    </div>
    <div>
        <div class="ui segment">
            <h4>Groupe Existant</h4>
            <form class="ui form" action="/orgas/ajoutGroupe" method="post">
                <input type="hidden" name="orga" value="{{id}}">
                <select name="numGroupe">
                    {{#listeGroupe}}
                    <option value="{{id}}">{{name}}</option>
                    {{/listeGroupe}}
                </select>
                <input class="ui button" type="submit">
            </form>

        </div>
        <div class="ui segment">
            <h4>Nouveau Groupe</h4>
            <form class="ui form" action="/orgas/ajoutNewGroupe" method="post">
                <input type="hidden" name="orga" value="{{id}}">
                <input type="text" name="nom">
                <input class="ui button" type="submit">
            </form>
        </div>
    </div>

</div>

    <script>
        $(function(){
            $("#ajoutGroupe").click(function(){
                $(".ajoutGroupe").modal('show');
            });
            $(".ajoutGroupe").modal({
                closable: true
            });
        });
    </script>

    <div class="ui modal ajoutUsers">
        <i class="close icon"></i>
        <div class="header">
            Ajouter un user
        </div>
        <div>
            <div class="ui segment">
                <h4>Personne Existante</h4>
                <form class="ui form" action="/orgas/ajoutUser" method="post">
                    <input type="hidden" name="orga" value="{{id}}">
                    <select name="numUser">
                        {{#listeUsers}}
                        <option value="{{id}}">{{firstname}} {{lastname}} - {{email}}</option>
                        {{/listeUsers}}
                    </select>
                    <input class="ui button" type="submit">
                </form>

            </div>
            <div class="ui segment">
                <h4>Nouveau user</h4>
                <form class="ui form" action="/orgas/ajoutNewUser" method="post">
                    <input type="hidden" name="orga" value="{{id}}">
                    <label for="prenom">Prenom</label>
                    <input id="prenom" type="text" name="prenom">
                    <label for="nom">Nom</label>
                    <input id="nom" type="text" name="nom">
                    <label for="mail">Mail</label>
                    <input id="mail" type="text" name="mail">
                    <input class="ui button" type="submit">
                </form>
            </div>
        </div>

    </div>

    <script>
        $(function(){
            $("#ajoutUsers").click(function(){
                $(".ajoutUsers").modal('show');
            });
            $(".ajoutUsers").modal({
                closable: true
            });
        });
    </script>

</div>

{{> ./main/footer}}
