{{> ./main/header}}

<div>

    <h1>Ajout Script</h1>

    <template>
        <v-form
                method="post"
                action="/script/submit"
                ref="form"
                id="modifScriptForm"
                v-model="valid"
                lazy-validation
        >

            <v-text-field
                    v-model="id"
                    name="id"
                    type="hidden"
                    required
            ></v-text-field>

            <v-text-field
                    v-model="title"
                    label="Titre"
                    name="title"
                    counter="255"
                    required
            ></v-text-field>

            <v-text-field
                    v-model="description"
                    name="description"
                    label="Description"
                    counter="255"
                    required
            ></v-text-field>

            <v-textarea
                    v-model="content"
                    name="content"
                    label="Contenu"
                    counter="5000"
                    required
            ></v-textarea>

            <v-select
                    v-model="valueLangage"
                    :items="langages"
                    label="Langage"
                    dense
                    outlined
                    item-text="name"
                    name="langage"
            ></v-select>

            <v-select
                    v-model="valueCategorie"
                    :items="categories"
                    label="Categorie"
                    dense
                    outlined
                    item-text="name"
                    name="categorie"
            ></v-select>


            <v-btn
                    :disabled="!valid"
                    color="success"
                    @click="validate"
            >
                Modifier
            </v-btn>

            <v-btn
                    color="error"
                    @click="reset"
            >
                Reset
            </v-btn>


        </v-form>
    </template>


</div>

{{> ./main/footer}}

{{{vue}}}