{{> ./main/header}}

<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-row align="center">

        <v-col class="text-center" cols="12" sm="4">
            <h1>Gestionnaire de Scripts</h1>
        </v-col>

        <v-col class="text-center" cols="12" sm="4">

        </v-col>

        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">

                <div v-if="connecter">
                    <v-btn text color="error" href="/logout">Deconnexion</v-btn>
                </div>
                <div v-else>
                    <v-btn text href="/login">Connexion</v-btn>
                </div>

            </div>
        </v-col>

    </v-row>


    <template v-if="connecter">
        <h3>Bienvenue <% user %></h3>
        <v-data-table
                :headers="headers"
                :items="listeScripts"
                class="elevation-1"
                :footer-props="{'items-per-page-text':'Scripts par page'}"
        >


            <template v-slot:item="props">
                <tr>
                    <td class="text-xs-right"><% props.item.title %></td>
                    <td class="text-xs-right"><% props.item.description %></td>
                    <td class="text-xs-right"><% props.item.strCreationDate %></td>
                    <td class="text-xs-right">
                        <v-btn class="ma-2" tile outlined href="/script/new" >
                            <v-icon small>edit</v-icon>
                        </v-btn>
                        <v-btn class="ma-2" tile outlined color="error" href="/script/new" >
                            <v-icon small>delete</v-icon>
                        </v-btn>
                    </td>
                </tr>
            </template>
            <template v-slot:no-data>
                <br>
                <v-alert text color="info" border="left">
                    Aucun scripts à afficher.
                </v-alert>
            </template>
            <template v-slot:pageText="props">
                Lignes <% props.pageStart %> - <% props.pageStop %> de <% props.itemsLength %>
            </template>
        </v-data-table>
        <v-btn class="ma-2" tile outlined color="success" href="/script/new" >
            <v-icon left>add_circle_outline</v-icon> Ajouter un Script
        </v-btn>
    </template>


</template>


{{> ./main/footer}}

{{{vue}}}


