{{> ./main/header}}

<div>
    Liste des organisations :
</div>

<div class="container">

    <a href="/orgas/new">Ajouter une organisation</a>

    <table class="ui celled structured table">
        <thead>
        <tr>
            <th class="center aligned" rowspan="1">Id</th>
            <th class="center aligned" rowspan="2">Nom</th>
            <th class="center aligned" rowspan="2">Domaine</th>
            <th class="center aligned" rowspan="2">Alias</th>
            <th class="center aligned" rowspan="2" colspan="2">Actions</th>
        </tr>

        </thead>

        <tbody>

            {{#orgas}}

            <tr>
                <td class="center aligned" data-label="Id">{{id}}</td>
                <td class="center aligned" data-label="Nom">{{name}}</td>
                <td class="center aligned" data-label="Domaine">{{domain}}</td>
                <td class="center aligned" data-label="Alias">{{aliases}}</td>

                <td class="center aligned" data-label="Actions">
                    <a href="/orgas/edit/{{id}}" ><i class="edit icon blue big"></i></a>
                </td>

                <td class="center aligned" data-label="Actions">
                    <a href="/orgas/delete/{{id}}" ><i class="close icon red big"></i></a>
                </td>

            </tr>

            {{/orgas}}

        </tbody>
    </table>

</div>





{{> ./main/footer}}
