{{> ./main/header}}

<div>
    Liste des organisations :
</div>

<div class="container">

    <a href="/orgas/new">Ajouter une organisation</a>

    <table class="ui celled structured table">
        <thead>
        <tr>
            <th rowspan="2">Id</th>
            <th rowspan="2">Nom</th>
            <th rowspan="2">Domaine</th>
            <th colspan="3">Alias</th>
        </tr>

        </thead>

        <tbody>

            {{#orgas}}

            <tr>
                <td class="center aligned">{{id}}</td>
                <td class="center aligned">{{name}}</td>
                <td class="center aligned">{{domain}}</td>
                <td class="center aligned">{{aliases}}</td>

            </tr>

            {{/orgas}}

        </tbody>
    </table>

</div>





{{> ./main/footer}}
