{{> ./main/header}}

<div>
    Liste des organisations :
</div>

<div class="container">

    <a href="/orgas/new">Ajouter une organisation</a>

    <table class="ui celled structured table">
        <thead>
        <tr>
            <th class="center aligned" rowspan="1">Id</th>
            <th class="center aligned" rowspan="2">Nom</th>
            <th class="center aligned" rowspan="2">Domaine</th>
            <th class="center aligned" rowspan="2">Alias</th>
            <th class="center aligned" rowspan="2" colspan="3">Actions</th>
        </tr>

        </thead>

        <tbody>

            {{#orgas}}

            <tr>
                <td class="center aligned" data-label="Id">{{id}}</td>
                <td class="center aligned" data-label="Nom">{{name}}</td>
                <td class="center aligned" data-label="Domaine">{{domain}}</td>
                <td class="center aligned" data-label="Alias">{{aliases}}</td>

                <td class="center aligned" data-label="Actions">
                    <a href="/orgas/display/{{id}}" ><i class="eye icon green big"></i></a>
                </td>

                <td class="center aligned" data-label="Actions">
                    <a href="/orgas/edit/{{id}}" ><i class="edit icon blue big"></i></a>
                </td>

                <td class="center aligned" data-label="Actions">
                    <a href="/orgas/confDelete/{{id}}" ><i class="close icon red big"></i></a>
                </td>

            </tr>

            {{/orgas}}

        </tbody>
    </table>

    {{#SuppressionID}}
        <div class="ui modal test">
            <i class="close icon"></i>
            <div class="header">
                Etes vous sur de vouloir supprimer
            </div>
            <div>
                <div class="ui segment">
                    <a href="/orgas" class="ui button grey">Retour</a>
                    <form class="ui form" action="/orgas/delete/{{SuppressionID}}" method="post">
                        <input class="ui button red" type="submit" name="oui">
                    </form>
                </div>
            </div>
        </div>


    <script>


        $(".test").modal('show');

        $(".test").modal({
                closable: true
            });

    </script>
    {{/SuppressionID}}







{{> ./main/footer}}
