{{> ./main/header}}

<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">


    <template>

        <v-row>
            <v-col cols="12" sm="4">
                <v-text-field
                        v-model="recherche"
                        label="Recherche"
                        v-on:input="getData"
                ></v-text-field>
            </v-col>

            <v-col cols="12" sm="4">
                <v-select
                        v-model="valueLangage"
                        :items="itemsLangage"
                        chips
                        label="Langages"
                        multiple
                        outlined
                        v-on:change="getData"
                ></v-select>
            </v-col>

            <v-col cols="12" sm="4">
                <v-select
                        v-model="valueCategorie"
                        :items="itemsCategorie"
                        chips
                        label="Categories"
                        multiple
                        outlined
                        v-on:change="getData"
                ></v-select>
            </v-col>
        </v-row>

        <v-data-table
                :headers="headers"
                :items="listeScripts"
                class="elevation-1"
                :footer-props="{'items-per-page-text':'Scripts par page'}"
        >


            <template v-slot:item="props">
                <tr>
                    <td class="text-xs-right"><% props.item.title %></td>
                    <td class="text-xs-right"><% props.item.description %></td>
                    <td class="text-xs-right"><% props.item.strCreationDate %></td>
                </tr>
            </template>
            <template v-slot:no-data>
                <br>
                <v-alert text color="info" border="left">
                    Aucun scripts à afficher.
                </v-alert>
            </template>
            <template v-slot:pageText="props">
                Lignes <% props.pageStart %> - <% props.pageStop %> de <% props.itemsLength %>
            </template>
        </v-data-table>

    </template>


</template>


{{> ./main/footer}}

{{{vue}}}


